# Compiled program(s) for the host system
*.exe

# Docker related files
Dockerfile
.dockerignore

# Build artifacts
build/

# Documentation:
docs/

# Screenshots
screenshots/

# Version control
.git

# Read me
README.md

# Common hidden files
.DS_Store
.vscode/